* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f6f6f6;
    background-image: url('../images/homebackground.png');
    background-size: cover;
  }
  h1 {
    text-align: center;
    color: white;
  }
  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  }
  label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
  }
  input[type='text'],
  input[type='number'],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  textarea {
    height: 100px;
    resize: vertical;
  }
  input[type="submit"] {
    background-color: green;
    color: white;
     padding: 10px 20px;
    border-radius: 5px;
 border: none;
    cursor: pointer;
    }
  input[type='submit']:hover {
    background-color: #27ae60;
  }
  .row::after {
    content: '';
    clear: both;
    display: table;
  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  input[type="submit"],
    button.cancel-button {
    background-color: green;
    color: white;
     padding: 10px 20px;
    border-radius: 5px;
 border: none;
    cursor: pointer;
    }
  @media (max-width: 600px) {
    .col-25,
    .col-75,
    input[type='submit'] {
      width: 100%;
      margin-top: 0;
    }
  }